{% extends 'adminoperations/admin_base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4>Delete Product Offer</h4>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete the product offer "{{ object.name }}" for {{ object.product.name }}?</p>
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-between">
                    <a href="{% url 'product_offer_list' %}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}